<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
	</startup>
	<appSettings>
		<add key="constr" value="Server=rm-2ze720n6w86h25832uo.mysql.rds.aliyuncs.com;port=3306;Database=staffhealth_demo;Uid=hsort;Pwd=1gSuPDOCO97tsCQ;" />
	</appSettings>
</configuration>